header{
    background-color: #2e3951;
    color: #FFFFFF;
    margin-bottom: 0%;
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding: 4%;
}
nav{
    opacity: 0.5;
    z-index: 2;
}

nav:hover{
    opacity: 1.0;
}
#main-nav ul, #side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#main-nav{
    opacity: 1.0;
}
#main-nav li, #side-nav li {
    float: left;
}

#main-nav li a, #side-nav li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-nav li a:hover, #side-nav li a:hover {
    background-color: #111;

}
h1,h2,footer{
   /* text-shadow: 5px 5px #000000;*/
}

body{
    background-color: whitesmoke;
    color:black;
}
#content{
    background: rgba(255,255,255,.5);
    margin-left: 2%;
    margin-right: 2%;
    z-index: -1;
    /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}
footer{
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px #333;
    padding: 2%;
    background-color:  #333;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.page{
    height: 100%;
}

.photo{
    width: 30%;
    height: 30%;
}

.hobbyphoto{
    position: relative;
    margin-top: 1%;
}
.hphoto{
    width: 20%;
    height:20%;
}
.email{
    color: black;
}
.circle ul{
    list-style-type: circle;

}
.square ul{
    list-style-type: square;

}
.hobby {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.hobby:hover {
    border-color: #f1f1f1;
}

#section1 {color: #fff; background-color: #000; padding-top: 5%; padding-bottom: 5%;}
#section2 {color: #000; background-color: #fff; padding-top: 5%; padding-bottom: 5%;}
#section3 {color: #fff; background-color: #000; padding-top: 5%; padding-bottom: 5%;}
#section4 {color: #000; background-color: #fff; padding-top: 5%; padding-bottom: 5%;}
#section5 {color: #fff; background-color: #000; padding-top: 5%; padding-bottom: 5%;}

ul.nav-pills {
    top: 50%;
    right: 11%;
    position: fixed;
}
div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
}

#section1 .text-info, #section2 .text-info,#section3 .text-info,#section4 .text-info, #section5 .text-info{
    color: inherit;
}

.text-info{
    margin-left: 2%;
}

.black{
    color: whitesmoke;
    background-color: #000;
}
.white{
    color: whitesmoke;
    background-color: #000;
}

#slideSource {
    opacity: 1;
    transition: opacity 3s; 
  }
  
#slideSource.fade {
    opacity: 0;
  }